<aside class="aside">
    <div class="aside__menu">
        <h3 class="title">Products Menu</h3>
        <ul class="menu">
            <li class="menu__item">Man </li>
            <li class="menu__item">Women</li>
            <li class="menu__item">Fashion 2021</li>
            <li class="menu__item">Kids</li>
            <li class="menu__item">Jeans </li>
            <li class="menu__item">Tshirt </li>
            <li class="menu__item">Top Fasion</li>
            <li class="menu__item">Summber collection</li>
            <li class="menu__item">Special Offer</li>
        </ul>
    </div>
    <div class="aside__delivery">
        <img src="img/aside/img.png" alt="delivery">
    </div>
    <div class="aside__news news">
        <h3 class="news__title">Latest From Twitter</h3>
        <p class="news__comment comment">
            <span class="comment__name">@crucio</span>
            what an incredible site!<br>
            <span class="comment__post">less than a minute ago</span>
        </p>
        <p class="news__comment">
            <span class="comment__name">@lukebeck</span>
            love this theme, tons of options, lots of goodies and crazy good support. I cant ask for anything
            better!<br>
            <span class="comment__post">about 3 hours ago</span>
        </p>
        <p class="news__comment">
            <span class="comment__name">@harikumar</span>
            where do you get support for account issues? <br>
            <span class="comment__post">less than a minute ago</span>
        </p>
    </div>
    <div class="aside__feedback">
        <h3 class="feedback__title">Our Happy Clients</h3>
        <div class="aside__slider">
            <div class="feedback">
                <div class="feedback__area">
                    <img src="img/aside/box.png" alt="box">
                    <p class="feedback__text">
                        “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consec tetur,
                        adipisci velit, sed quia non numquam eius labore et dolore magnam ets aliquam quaerat
                        voluptatemser.
                        Enim ad minimas venians amets
                    </p>
                </div>
                <div class="feedback__user">Jon Doe, Company Inc.</div>
            </div>
            <div class="feedback">
                <div class="feedback__area">
                    <img src="img/aside/box.png" alt="box">
                    <p class="feedback__text">
                        “Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nihil. Praesentium totam
                        cumque
                        soluta excepturi?
                    </p>
                </div>
                <div class="feedback__user">Carry Bradshow, Company Inc.</div>
            </div>
            <div class="feedback">
                <div class="feedback__area">
                    <img src="img/aside/box.png" alt="box">
                    <p class="feedback__text">
                        “Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, voluptatibus culpa vitae, at
                        assumenda veniam quam consequatur necessitatibus incidunt reiciendis quo voluptas unde placeat
                        voluptates!
                    </p>
                </div>
                <div class="feedback__user">Barry Bongo, Company Inc.</div>
            </div>
        </div>
    </div>

</aside>