<section class="section">
    <div class="wrap">
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img1.jpg" alt="photo1">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product product--lg">
            <div class="product__img product__img--lg">
                <img src="../img/content/img2.jpg" alt="photo2">
            </div>
            <div class="wrap wrap--lg">
                <div class="product__name product__name--lg">Serax fibrepots</div>
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img3.jpg" alt="photo3">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img4.jpg" alt="photo4">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img5.jpg" alt="photo5">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img6.jpg" alt="photo6">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img7.jpg" alt="photo7">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img8.jpg" alt="photo8">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img9.jpg" alt="photo9">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img10.jpg" alt="photo10">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img11.jpg" alt="photo11">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product">
            <div class="product__img">
                <img src="../img/content/img12.jpg" alt="photo12">
            </div>
            <div class="product__name">Kids Moon Colorblock
                Footed Tights</div>
            <div class="wrap">
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
        <div class="product product--lg">
            <div class="product__img product__img--lg">
                <img src="../img/content/img13.jpg" alt="photo13">
            </div>
            <div class="wrap wrap--lg">
                <div class="product__name product__name--lg">Serax fibrepots</div>
                <div class="product__price">$8.99</div>
                <button type="button" class="product__btn">Get it</button>
            </div>
        </div>
    </div>
</section>