<footer class="footer">
    <div class="footer__line"></div>
    <div class="wrap container">
        <div class="footer__block block block">
            <h2 class="block__title">about</h2>
            <a href="#" class="top__title"><span>Fashion</span>press</a>
            <p class="block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin sem
                nec leo tempus fermentum. Integer consequat, turpis eget lobortis.</p>
        </div>
        <div class="footer__block block block--sm">
            <h2 class="block__title">FOLLOW US</h2>
            <a href="#" class="block__link"><img src="img/footer/facebook.png" alt="facebook link"> facebook</a>
            <a href="#" class="block__link"><img src="img/footer/twitter.png" alt="twitter link">twitter</a>
            <a href="#" class="block__link"><img src="img/footer/Google.png" alt="google+ link">Google</a>
            <a href="#" class="block__link"><img src="img/footer/instagramm.png" alt="instagramm">instagramm</a>
        </div>
        <div class="footer__block block block--lg">
            <h2 class="block__title">Contact Info</h2>
            <div class="wrap">
                <div class="block__part">
                    <a class="block__contact" href="tel:+800.555.6789">Phone: 800.555.6789</a>
                    <a class="block__contact" href="tel:+1.888.555.9876">Fax: 1.888.555.9876</a>
                    <a class="block__contact" href="mailto:letschat@11thagency.com">Email: letschat@11thagency.com</a>
                </div>
                <div class="block__part">
                    <p class="block__contact ">John Doe, Comapny Inc.
                        12345 North Main Street
                        Anywhere, USA
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__line footer__line--bottom bottom">
        <div class="container">
            <ul class="bottom__list">
                <li><a href="#" class="bottom__link">Terms of Service </a></li>
                <li><a href="#" class="bottom__link">Privacy Policy </a></li>
                <li><a href="#" class="bottom__link">Creative Rights Policy</a></li>
                <li><a href="#" class="bottom__link">Contact Us</a></li>
                <li><a href="#" class="bottom__link">Support & FAQ</a></li>
            </ul>
        </div>
    </div>

</footer>