<header class="header">
    <div class="header__top top container">
        <h1 class="top__title"><span>Fashion</span>press</h1>
        <div class="top__form form">
            <button class="form__btn">Join</button>
            <button class="form__btn">Sign In</button>
            <button class="form__btn"><span>Shopping Bag </span>(0)
                <img src="../img/header/cart.png" alt="shoping cart">
            </button>
            <div></div>
        </div>
    </div>
    <div class="header__bottom">
        <nav class="menu container">
            <ul class="menu__list">
                <li><a href="#" class="menu__link">Home</a></li>
                <li><a href="#" class="menu__link">About us</a></li>
                <li><a href="#" class="menu__link">Careers</a></li>
                <li><a href="#" class="menu__link">Contact Us</a></li>
                <li><a href="#" class="menu__link">Company Profile</a></li>
                <li><a href="#" class="menu__link">Company Registration</a></li>
                <li><a href="#" class="menu__link">Wish List</a></li>
            </ul>
        </nav>
    </div>
</header>