<header class="header">
    <div class="header__top top container">
        <h1 class="top__title"><span>Fashion</span>press</h1>
        <div class="top__menu form">
            <button class="form__btn" id="btn-join">Join</button>
            <button class="form__btn" id="btn-sign">Sign In</button>
            <button class="form__btn"><span>Shopping Bag </span>(0)
                <img src="../img/header/cart.png" alt="shoping cart">
            </button>
            <div></div>

        </div>
    </div>
    <div class="header__bottom">
        <nav class="menu container">
            <ul class="menu__list">
                <li><a href="#" class="menu__link">Home</a></li>
                <li><a href="#" class="menu__link">About us</a></li>
                <li><a href="#" class="menu__link">Careers</a></li>
                <li><a href="#" class="menu__link">Contact Us</a></li>
                <li><a href="#" class="menu__link">Company Profile</a></li>
                <li><a href="#" class="menu__link">Company Registration</a></li>
                <li><a href="#" class="menu__link">Wish List</a></li>
            </ul>
        </nav>
    </div>
    <div class="modal" id="join">
        <form action="" name="registration-form" class="modal__form container">
            <fieldset class="modal__fieldset">
                <button type=" button" class="modal__close">X</button>
                <legend class="modal__legend">Registration form</legend>
                <p class="modal__msg">Please fill out this form to create an account.</p>

                <label class="modal__label" for="email"><b>Email</b> </label>
                <input class="modal__input" type="email" id="email" placeholder="Введите вашу почту" name="email"
                    required>

                <label class="modal__label" for="psw"><b>Пароль</b></label>
                <input class="modal__input" id="psw" type="password" placeholder="Введите пароль" name="psw" required>

                <label class="modal__label" for="psw-repeat"><b>Повторить пароль</b></label>
                <input class="modal__input" id="psw-repeat" type="password" placeholder="Повторите пароль"
                    name="psw-repeat" required>

                <label for="remember-me">
                    <input class="modal__checkbox" id="remember-me" type="checkbox" checked="checked" name="remember">
                    Запомнить
                    меня
                </label>
                <button type="submit" class="modal__submit">Join</button>
            </fieldset>
        </form>
    </div>
    <div class="modal" id="sign-in">
        <form action="" name="registration-form" class="modal__form container">
            <fieldset class="modal__fieldset">
                <button type=" button" class="modal__close">X</button>
                <legend class="modal__legend">Sign in form</legend>
                <p class="modal__msg">Please enter your email and password</p>

                <label class="modal__label" for="email1"><b>Email</b> </label>
                <input class="modal__input" type="email" id="email1" placeholder="Введите вашу почту" name="email"
                    required>

                <label class="modal__label" for="psw1"><b>Пароль</b></label>
                <input class="modal__input" id="psw1" type="password" placeholder="Введите пароль" name="psw" required>


                <button type="submit" class="modal__submit">Sign in</button>
            </fieldset>
        </form>
    </div>
</header>