<section class="section" id="panel">
    <h2 class="searching" style="display: none;">Searching product</h2>
    <div class="panel container">
        <form action="" name="searching-form" class="panel__part search">
            <label for="search" class="search__label">Search Product</label>
            <input type="search" id="search" class="search__input"><button type="submit" class="search__btn">
                <img src="../img/search/search.png" alt="searching-button">
            </button>
        </form>
        <div class="panel__part">
            <button class="view-btn" type="button">
                <img src="../img/search/view1.png" alt="view">
            </button>
            <button class="view-btn" type="button">
                <img src="../img/search/view2.png" alt="view">
            </button>
        </div>
    </div>
</section>