<section class="section">
    <div class="slider-hero">
        <div class="slide">
            <div class="wrap container--lg">
                <div class="slide__content content text">
                    <h2 class="content__title">We provide worlds top fashion for less
                        fashionpress. </h2>
                    <p class="content__subtitle">FashionPress the name of hi class fashion web.
                    </p>
                </div>
                <div class="slide__content slide__content--lg content">
                    <img class="content__img" src="img/slider/slide1.jpg" alt="sweem suite">
                </div>
                <div class="slide__content content  content--pos slide__content--sm">
                    <p class="content__info">Product<br> $24.00</p>
                    <small>Free PSD</small>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="wrap container--lg">
                <div class="slide__content content text">
                    <h2 class="content__title">We provide worlds top fashion for less
                        fashionpress. </h2>
                    <p class="content__subtitle">FashionPress the name of hi class fashion web.
                    </p>
                </div>
                <div class="slide__content slide__content--lg content">
                    <img class="content__img" src="img/slider/slide2.jpg" alt="sweem suite">
                </div>
                <div class="slide__content content  content--pos slide__content--sm">
                    <p class="content__info">Product<br> $18.00</p>
                    <small>Free PSD</small>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="wrap container--lg">
                <div class="slide__content content text">
                    <h2 class="content__title">We provide worlds top fashion for less
                        fashionpress. </h2>
                    <p class="content__subtitle">FashionPress the name of hi class fashion web.
                    </p>
                </div>
                <div class="slide__content slide__content--lg content">
                    <img class="content__img" src="img/slider/slide3.jpg" alt="sweem suite">
                </div>
                <div class="slide__content content  content--pos slide__content--sm">
                    <p class="content__info">Product<br> $21.00</p>
                    <small>Free PSD</small>
                </div>
            </div>
        </div>
    </div>
</section>