.header {
    background-color: #fff;
    position: relative;
}

.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__title {
        font-family: $title-ff;
        text-transform: uppercase;
        span {
            color: $main-color;
        }
    }
}

.form {
    display: flex;
    background-color: #eee;
    width: 330px;
    color: $sec-color;
    position: relative;
    &__btn {
        border: none;
        border-right: 2px solid #fff;
        height: 100%;
        width: 24%;
        text-align: center;
        font-weight: 500;
        outline: none;
        &:nth-child(3) {
            width: 50%;
            span {
                color: $main-color;
            }
            img {
                display: inline-block;
                margin: 0 5px -3px 5px;
                

            }
        }
        &:hover,
        &:active,
        &:focus {
            background-color: $main-color;
            color: #fff;
            transition: all .3s ease-in-out;
            span {
                color: #fff;
            }
        }
    }
}

.modal {
    display: none;
    background-color: rgba(245, 237, 237, 0.8);
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    color: #000;
    &__close {
        padding: 15px;
        font-size: 2rem;
        outline: none;
        border: 2px solid $main-color;
        position: absolute;
        top: -55px;
        right: 55px;
        &:hover,
        &:focus, 
        &:active {
            background-color: $main-color;
            color: #fff;
            transition: all .2s ease-in;
        }
    }
    &__form {
        padding: 100px;
        
    }
    &__fieldset {
        position: relative;
        padding: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }
    &__legend {
        background-color: $main-color;
        color: #fff;
        padding: 20px;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
    }
    &__msg {
        font-size: 2rem;
    }
    &__label {
        color: $main-color;
        font-size: 1.6rem;
    }
    &__input {
        width: 50%;
        margin: 0 0 25px 0;
        padding: 10px;
        outline: none;
        &:hover,
        &:focus, 
        &:active {
            border: 2px solid $main-color;
        }
    }
    &__submit {
        width: 25%;
        margin: 15px 0;
        padding: 15px;
        font-size: 2rem;
        outline: none;
        border: 2px solid $main-color;
        &:hover,
        &:focus, 
        &:active {
            background-color: $main-color;
            color: #fff;
            transition: all .2s ease-in;
        }
    }
    
}

.header__bottom {
    background-color: #000;
    position: relative;


}

.overlay {
    display: none;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    &:hover,
    &:active,
    &:focus {
        color: $main-color;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 45px;
        list-style: none;
    }
    &__link {
        display: inline-block;
        color: #fff;
        margin: 15px 35px 15px 0;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 500;
        &:hover,
        &:focus,
        &:active {
            color: $main-color;
            
        }
        
        
    }
}

@media screen and (max-width: 768px) {
    .overlay {
        display: block;
    }
    .menu {
        display: none;
        position: relative;
        &__list {
            background-color: #000;
            width: 100vw;
            height: 100vh;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: 11;
            flex-direction: column;
            text-align: center;
            padding: 25px;
        }
        &__link {
            color: #fff;
            margin: 15px 55px 15px 55px;
            font-size: 2rem;
            font-weight: 500;
        }
    }
    
}


@media screen and (max-width: 576px) {
    .modal__form {
        padding: 100px 15px;
        
    }

    .modal__close {
        top: -61px;
        right: 10px;
    }
    .form {
        width: 100%;
        height: 50px;
    }
}

