* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    background-color: #eeeeee;
    font: 300 1.4rem $main-ff;
}

.container {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.container--lg {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.overflow {
    overflow: hidden;
}


.anime {
    transform: scale(0);
    opacity: 0;
}

.hide {
    // display: none;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hide{
 0% {
     visibility: visible;
     height: 295px;
 }
 100% {
     visibility: hidden;
     width: 0;
     height: 0;
     font-size: 0;
     margin: 0;
 }
}
@media screen and (max-width: 320px) {
    html {
        font-size: 8px;
    }
}