// fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;0,500;0,700;1,500&display=swap');

$title-ff: 'Open Sans', sans-serif;
$main-ff: 'Roboto', sans-serif;

// colors

$main-color: #df1f26;
$sec-color: #393939;
$third-color: #909191;

